<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.MenuMapper">
    <!--查询一级类别-->
    <select id="queryAllFirstSort" resultType="Menu">
        select* from menu where parent_id is null
    </select>
    <!--查询二级类别-->
    <select id="queryAllSecondSort" resultType="Menu">
        select * from menu where parent_id=#{parentId}
    </select>
</mapper>